{% extends 'base.html' %}

{% block content %}
    <!-- ======= Menu Section ======= -->
    {% include 'menu.html' %}

    <!-- ======= Events Section ======= -->
    {% include 'events.html' %}

    <!-- ======= Chefs Section ======= -->
    {% include 'chefs.html' %}

    {% if user.is_authenticated %}
        <!-- ======= Book A Table Section ======= -->
        {% include 'reservation.html' %}
    {% endif %}
    <!-- ======= Gallery Section ======= -->
    {% include 'gallery.html' %}

    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}
{% endblock %}